#### a) Load the bank transaction dataset using pandas.

In [1]:
import pandas as pd

df = pd.read_csv('lab2.csv')

#### b) Print dataset information

In [2]:
df.head(10)

   ACCOUNT SERVICE  VISIT
0   500026   CKING      1
1   500026     SVG      2
2   500026     ATM      3
3   500026     ATM      4
4   500075   CKING      1
5   500075    MMDA      2
6   500075     SVG      3
7   500075     ATM      4
8   500075   TRUST      5
9   500075   TRUST      6

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32367 entries, 0 to 32366
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ACCOUNT  32367 non-null  int64
 1   SERVICE  32367 non-null  object
 2   VISIT    32367 non-null  int64
dtypes: int64(2), object(1)
memory usage: 758.7+ KB

#### c) Group by ACOOUNT and list all SERVICES

As we are looking to generate association rules from items purchased by each account holder, we need to group our accounts and then generate list of all services purchased.

In [4]:
# Group by Account

per_account = (df.groupby(['ACCOUNT','SERVICE']).size().unstack().reset_index().fillna(0).set_index('ACCOUNT'))

per_account.iloc[0:10,:]

SERVICE,ATM,AUTO,CCRD,CD,CKCRD,CKING,HMEQLC,IRA,MMDA,MTG,PLOAN,SVG,TRUST
ACCOUNT,,,,,,,,,,,,,
500026,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
500075,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0
500129,2.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
500256,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
500341,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
500350,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500458,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
500595,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
500743,0.0,0.0,1.0,0.0,2.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
500744,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

The above table shows the distribution of each service in one account. Zero (0) indicates nothing purchased by the account holder whereas the number (eg: 1, 2) is number of times the service is purchased

In [5]:
# Group by account number and list all the services in list format (for model preparation) 

transaction = df.groupby(['ACCOUNT'])['SERVICE'].apply(list)

transaction.head(10)

ACCOUNT
500026                           [CKING, SVG, ATM, ATM]
500075            [CKING, MMDA, SVG, ATM, TRUST, TRUST]
500129                      [CKING, SVG, IRA, ATM, ATM]
500256                       [CKING, SVG, CKCRD, CKCRD]
500341                       [CKING, SVG, CKCRD, CKCRD]
500350                                  [CKING, CD, CD]
500458                                  [SVG, ATM, ATM]
500595                   [CKING, SVG, CD, TRUST, TRUST]
500743    [CKING, SVG, CCRD, HMEQLC, MTG, CKCRD, CKCRD]
500744                                  [CKING, CD, CD]
Name: SERVICE, dtype: object

Now that the transactions table contains all services purchased by each account number, we are ready to build our association rules. apyori's apriori function accepts a number of arguments, mainly:

    a)transaction: list of list of items in transactions (eg. [['A', 'B'], ['B', 'C']]).
    b)min_support: Minimum support of relations in float percentage. Default 0.1. 
    c)min_confidence: Minimum confidence of relations in float percentage. Default 0.0.
    d)min_lift: Minimum lift of relations in float percentage. Default 0.0.
    e)max_length: Max length of the relations. Default None.

#### Additional note: 

`Apriori` is an algorithm for frequent item set mining and association rule learning over relational databases. It proceeds by identifying the frequent individual items in the database and extending them to larger and larger item sets as long as those item sets appear sufficiently often in the database.

The frequent item sets determined by Apriori can be used to determine association rules which highlight general trends in the database: this has applications in domains such as market basket analysis.

#### d) We will run our apyori model with our transactions and min_support of 0.05.

In [6]:
# List all the services in list format (for model preparation)

transaction_list = list(transaction)

print("\n", transaction_list[:10])

 [['CKING', 'SVG', 'ATM', 'ATM'], ['CKING', 'MMDA', 'SVG', 'ATM', 'TRUST', 'TRUST'], ['CKING', 'SVG', 'IRA', 'ATM', 'ATM'], ['CKING', 'SVG', 'CKCRD', 'CKCRD'], ['CKING', 'SVG', 'CKCRD', 'CKCRD'], ['CKING', 'CD', 'CD'], ['SVG', 'ATM', 'ATM'], ['CKING', 'SVG', 'CD', 'TRUST', 'TRUST'], ['CKING', 'SVG', 'CCRD', 'HMEQLC', 'MTG', 'CKCRD', 'CKCRD'], ['CKING', 'CD', 'CD']]

In [7]:
from apyori import apriori

# Run apyori model with transactions and min_support of 0.05
ar_model = list(apriori(transaction_list, min_support=0.05))  # Association rules model

# View first 10 rules
print("\n", ar_model[0:10])  # rules in list format

 [RelationRecord(items=frozenset({'ATM'}), support=0.3845576273307471, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'ATM'}), confidence=0.3845576273307471, lift=1.0)]), RelationRecord(items=frozenset({'AUTO'}), support=0.09285446126892755, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'AUTO'}), confidence=0.09285446126892755, lift=1.0)]), RelationRecord(items=frozenset({'CCRD'}), support=0.154799149042673, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'CCRD'}), confidence=0.154799149042673, lift=1.0)]), RelationRecord(items=frozenset({'CD'}), support=0.24527593542735576, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'CD'}), confidence=0.24527593542735576, lift=1.0)]), RelationRecord(items=frozenset({'CKCRD'}), support=0.11300212739331748, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'CKCRD'}), confidence=0.11300212739331748, lift=1.0)]), RelationRecord(items=frozenset({'CKING'}), support=0.8578400700788387, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'CKING'}), confidence=0.8578400700788387, lift=1.0)]), RelationRecord(items=frozenset({'HMEQLC'}), support=0.164685270929796, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'HMEQLC'}), confidence=0.164685270929796, lift=1.0)]), RelationRecord(items=frozenset({'IRA'}), support=0.10837191840820924, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'IRA'}), confidence=0.10837191840820924, lift=1.0)]), RelationRecord(items=frozenset({'MMDA'}), support=0.17444625203353772, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'MMDA'}), confidence=0.17444625203353772, lift=1.0)]), RelationRecord(items=frozenset({'MTG'}), support=0.07433362532849455, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'MTG'}), confidence=0.07433362532849455, lift=1.0)])]

Now the output might look very weird, and that is fine. You have provided the following function to help you printing it out. 

You won't explain how it works and it is not essential for your learning objective, but You have included some comments to help you out.

The table contains statistics of `Support`, `Confidence` and `Lift` for each of the rules.

Consider the rule A -> B. Recall the following:

    1. Support of A -> B is the probability that a customer has both A and B.

    2. Confidence of A -> B is the probability that a customer has B given that the customer has A.
    
    3. Expected confidence (not shown here) of A -> B is the probability that a customer has B. Lift of A ? B is a measure of strength of the association. If Lift=2 for the rule A=>B, then a customer having A is twice as likely to have B than a customer chosen at random. Lift is the confidence divided by expected confidence.

#### Additional note:

Association rules analysis is a technique to uncover how items are associated to each other. There are 3 common ways to measure association:

1) Measure 1: `Support` - This says how popular an itemset is, as measured by the proportion of transactions in which an itemset appears. If we discover that sales of certain items beyond a certain proportion or tend to have a significant impact on our profits, we might consider using that proportion as your `support` threshold. Thus, we identify itemsets with `support values above this threshold` as significant itemsets.

2) Measure 2: `Confidence`. This says how likely item B is purchased when item A is purchased, expressed as {A -> B}. This is measured by the proportion of transactions with item A, in which item B also appears. One drawback of the `confidence` measure is that it might misrepresent the importance of an association. This is because it only accounts for how popular A are, but not B. If B are also very popular in general, there will be a higher chance that a transaction containing A will also contain B, thus inflating the confidence measure. To account for the base popularity of both constituent items, we use a third measure called `Lift`.

3) Measure 3: `Lift`. This says how likely item B is purchased when item A is purchased, while controlling for how popular item B is. 

    a)Lift of {A -> B} = 1, means no association between items. 
    b)Lift {A -> B} > 1, means that item B is likely to be bought if item A is bought, 
    c)Lift {A -> B} < 1, means that item B is unlikely to be bought if item A is bought.

In [8]:
# Lets view the structure of the rules in the ar_model. Print 1 rule from the model

print(ar_model[0:1])

[RelationRecord(items=frozenset({'ATM'}), support=0.3845576273307471, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'ATM'}), confidence=0.3845576273307471, lift=1.0)])]

The above shows the structure of the rule in the ar_model (Association Rules model). 

The rule has structure of:

    1) items
    
    2) metrics which set to `support`. Note: Metric can be set to support, confidence or lift
    
    3) ordered_statistics (item_base, items_add, confidence, and lift) 

#### Since the Association Rules in the model is not human readable friendly, we will then extract these information and convert it into 

#### table / dataframe and split the data of `Support`, `Confidence`, and `Lift`

In [9]:
def associate_rules_to_df(ar_model):
    rules = []
    
    for associate_rules in ar_model:
        for rule in associate_rules.ordered_statistics:
            rules.append([','.join(rule.items_base), ','.join(rule.items_add), # items_base = 'IF', items_add = 'THEN' 
                         associate_rules.support, rule.confidence, rule.lift]) # support, confidence and lift 
    
    return pd.DataFrame(rules, 
                        columns=['IF', 'THEN', 'Support', 'Confidence', 'Lift']) # return as dataframe 

transaction_df = associate_rules_to_df(ar_model)

print(transaction_df.head(20))

        IF        THEN   Support  Confidence      Lift
0                  ATM  0.384558    0.384558  1.000000
1                 AUTO  0.092854    0.092854  1.000000
2                 CCRD  0.154799    0.154799  1.000000
3                   CD  0.245276    0.245276  1.000000
4                CKCRD  0.113002    0.113002  1.000000
5                CKING  0.857840    0.857840  1.000000
6               HMEQLC  0.164685    0.164685  1.000000
7                  IRA  0.108372    0.108372  1.000000
8                 MMDA  0.174446    0.174446  1.000000
9                  MTG  0.074334    0.074334  1.000000
10                 SVG  0.618696    0.618696  1.000000
11              CD,ATM  0.071581    0.071581  1.000000
12     ATM          CD  0.071581    0.186137  0.758889
13      CD         ATM  0.071581    0.291837  0.758889
14           CKING,ATM  0.361907    0.361907  1.000000
15     ATM       CKING  0.361907    0.941100  1.097058
16   CKING         ATM  0.361907    0.421882  1.097058
17          HMEQLC,ATM  0.085346    0.085346  1.000000
18     ATM      HMEQLC  0.085346    0.221933  1.347619
19  HMEQLC         ATM  0.085346    0.518237  1.347619

#### e) In a typical setting, you would like to view the rules by lift. Sort the rules using code.

In [10]:
# Sort all rules by 'Lift' in descending order

transaction_df = transaction_df.sort_values(by='Lift', ascending=0)

print(transaction_df.head(10))

                IF           THEN   Support  Confidence      Lift
131          CKCRD     CCRD,CKING  0.055813    0.493909  3.325045
134     CCRD,CKING          CKCRD  0.055813    0.375737  3.325045
33            CCRD          CKCRD  0.055813    0.360550  3.190645
130           CCRD    CKING,CKCRD  0.055813    0.360550  3.190645
135    CKING,CKCRD           CCRD  0.055813    0.493909  3.190645
34           CKCRD           CCRD  0.055813    0.493909  3.190645
203     HMEQLC,SVG      CKING,ATM  0.060944    0.546577  1.510268
198      CKING,ATM     HMEQLC,SVG  0.060944    0.168396  1.510268
196         HMEQLC  CKING,ATM,SVG  0.060944    0.370061  1.489001
205  CKING,SVG,ATM         HMEQLC  0.060944    0.245217  1.489001